//*****
//buttons
//*****
.button-rounded {
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  font-size: rem(12);
  font-weight: bold;
  line-height: rem(40);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .0625em;
  cursor: pointer;
  border: 2px solid;
  border-radius: 20px;
  transition: all .3s ease;

  &.button-rounded__orange {
    color: $color--white;
    background: $color--squash;
    border-color: $color--squash;

    &:hover {
      background: $color--orangey-yellow;
      border-color: $color--orangey-yellow;
    }
  }

  &.button-rounded__transparent-white {
    color: $color--white;
    background: transparent;
    border-color: $color--white;
    outline: none;

    &:hover {
      color: $color--gunmetal;
      background: $color--white;
    }
  }

  &.button-rounded__transparent-dark-gray {
    color: $color--gunmetal;
    border-color: $color--gunmetal;

    &:hover {
      color: $color--white;
      background: $color--gunmetal;
    }
  }

  &.is-disabled {
    opacity: .5;

    &:hover {
      color: inherit;
      cursor: not-allowed;
      background: inherit;
    }
  }
}
