.stay-tuned {
  padding: 60px 0;

  .stay-tuned__title {
    font-family: $font-bold;
    font-size: rem(20);
    line-height: rem(23);
  }

  .stay-tuned__content {
    margin-top: 20px;
    font-family: $font-light;
    font-size: rem(16);
    line-height: rem(19);
  }

  .stay-tuned__subtitle {
    margin-bottom: 10px;
    font-family: $font-regular;
  }

  .stay-tuned__list {
    margin-bottom: -5px;

    .stay-tuned__item {
      position: relative;
      display: block;
      padding-left: 10px;
      margin-bottom: 5px;
      overflow: hidden;
      font-family: $font-light;
      font-size: rem(16);
      line-height: rem(19);

      &::before {
        content: '-';
        position: absolute;
        left: 0;
        float: left;
      }

      .link {
        color: $color--gunmetal;
      }
    }
  }

  .stay-tuned__hint {
    font-family: $font-light;
    font-size: rem(14);
    font-style: italic;
    line-height: rem(17);
  }

  .bt-more {
    margin-top: 20px;
  }
}

//*******
//TABLET
//*******

@include media($tablet) {

}

//*******
//MOBILE
//*******

@include media($mobile) {
  .stay-tuned {
    padding: 30px 0;
  }
}
