.page__product.page__life {
  .product-banner {
    &::before {
      background-image: url((asset_path('banner-product-life.jpg')));
    }
  }

  .product-banner__content {
    &::before {
      width: 315px;
      height: 375px;
      background-image: url((asset_path('featured-product-icon-life.svg')));
    }
  }

  .steps {
    padding-top: 120px;
    background: $color--white;
  }

  .questions {
    background: url((asset_path('yousemon__purple-hair-woman.svg'))) 112% bottom no-repeat;
    background-size: 40%;
  }
}

//*******
//TABLET
//*******

@include media($tablet) {
  .page__product.page__life {
    .questions {
      background: none;
    }
  }
}

//*******
//MOBILE
//*******

@include media($mobile) {
  .page__product.page__life {
    .product-banner__content {
      &::before {
        top: -180px;
        width: 151px;
        height: 180px;
      }
    }

    .steps {
      padding-top: 60px;
    }

    .coverage-assistance {
      padding: 30px 0;
    }

    .questions {
      padding: 30px 0;
      background: none;
    }
  }
}

//*******
// Estes breakpoints limitam a altura do Yousemon em resoluções maiores que 1110px;
//*******

@include media(new-breakpoint(min-width 1110px)) {
  .page__product.page__life {
    .questions {
      background-size: 455px;
    }
  }
}

@include media(new-breakpoint(min-width 1400px)) {
  .page__product.page__life {
    .questions {
      background-position: bottom right;
    }
  }
}
