.navbar-brand {
	background: image-url('logo-econvoce.png') center center no-repeat;
	width: 140px;
	background-size: 140px;
	text-indent: -9999px;
}

.navbar-menu {
	margin-left: 50px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a {
	background: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background: none;
	color: #ff0000;
}

