// Brand colors
$color--white: #fff;
$color--black: #000;
$color--orangey-yellow: #fcaf17;
$color--blueberry: #5f259f;
$color--battleship-grey: #5b6770;

// Secondary colors (lighten)
$color--squash: #ff9e1b;
$color--coral: #e56a54;
$color--cool-blue: #009cde;
$color--seafoam-blue: #2dccd3;
$color--soft-green: #6cc24a;
$color--cloudy-blue: #c1c6c8;

// Secondary colors (darken)
$color--red-pink: #e0004d;
$color--blueberry-two: #409;
$color--french-blue: #485cc7;
$color--green-blue: #00b388;
$color--gunmetal: #333f48;

// Product colors
$color--home: #f26657;
$color--life: #00b388;
$color--auto: #41c6cc;

// Greys
$color--gallery-grey: #efefef;
$color--background-grey: #ededed;
$color--background-light-blue: #ebf4f7;

// Get a color name in http://chir.ag/projects/name-that-color
