$color-black:           #000000;
$color-white:           #ffffff;


$color-red:             #ff1520;
$color-green:           #269270;
$color-green-light:     #6eb521;
$color-blue-dark:       #071047;


$color--corretor:       #f1c40f;
$color--coordenador:    #9b59b6;
$color--gerente:        #2ecc71;


$color-grey-50:          #FAFAFA;
$color-grey-100:         #DEDEDE;
$color-grey-200:         #EEEEEE;
$color-grey-300:         #E0E0E0;
$color-grey-400:         #BDBDBD;
$color-grey-500:         #9E9E9E;
$color-grey-600:         #757575;
$color-grey-700:         #616161;
$color-grey-800:         #424242;
$color-grey-900:         #212121;

