.form-group {
  margin-bottom: 10px;
}

.label {
  font-size: 18px;
  color: $color-black;
}

.label-description {
  font-size: 16px;
  color: $color-grey-600;
}

.input-text {
  background: $color-white;
  border: 1px solid $color-grey-400;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 30px;
  border-radius: 30px;
  outline: none;
  color: $color-grey-600;


  @include placeholder {
    color: $color-grey-400;
  }

  &:focus {
    border: 1px solid $color-grey-600;
  }
}

.select-box {
  background: $color-white;
  border: 1px solid $color-grey-400;
  font-weight: 600;
  font-size: 14px;
  line-height: 47px;
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  background: image-url('navbar-arrow-down--gray.svg') 95% center no-repeat;
  background-size: 13px;

  select {
    padding: 0 30px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    color: $color-grey-400;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    &:focus {
      outline: none;
    }

  }

  &.active {
    select {
      color: $color-grey-600;
    }
  }
}

.checkbox {
  position: relative;
  padding-left: 20px;

  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 1px;
  }

}

.has-error {
  .input-text,
  .select-box {
    background: lighten($color-red, 40%);
    border: 1px solid lighten($color-red, 30%);
    color: lighten($color-red, 10%);
  }
}

.has-warning {
  .input-text,
  .select-box {
    background: lighten($color-warning, 35%);
    border: 1px solid $color-warning;
    color: $color-warning;
  }
}



@for $cols from 1 through $grids-columns {
  .input-#{$cols} {
    box-sizing: border-box;
    width: (100 / $grids-columns * $cols) + unquote('%');
  }
}